// ============================================
// TYPOGRAPHY - ChattyChat
// ============================================

@use '../utils' as *;


body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }